.grid_1-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}
.grid_1-5{
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 1em;
}
.grid_1-51{
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 1em;
}

@media (max-width: 1000px){
    .grid_1-5{
        display: grid;
        grid-template-columns: 1fr;
        max-height: 100%;
        font-size: 100%;
    }
    .card{
        position: relative;
        margin-left: 15%;
        margin-top: 15%;
        width: 70%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        font-weight: bold;
        border-radius: 15px;
        cursor: pointer;
    }
    a{
        padding-top: 12%;
    }
    ul, nav{
        padding-left: 39%;
        padding-top: 1%;
    }
    ul li{
        display: flex;
        border-radius: 50px;
        width: 40%;
    }
    .homebutton{
        display: none;
    }
    #navicon{
        display: none;
    }
    ul{
        padding: 0;
    }
    #cardamericano:hover:after{
        content: "An Americano is made by adding hot water to a shot of espresso, creating a lighter-bodied coffee with a similar flavor to drip coffee.";
    }
}
